<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>General stats about the sightings</title>
</head>
    
<body>
<ul>

<li><h5>Count of adult squirrels: {{Adult}}</h5>
</li>
<li><h5>Count of juvenile squirrels: {{Juvenile}}</h5>
</li>
<li><h5>Count of squirrels shift at AM: {{AM}}</h5>
</li>
<li><h5>Count of squirrels shift at PM: {{PM}}</h5>
</li>
<li><h5>Count of running squirrels: {{Running}}</h5>
</li>
<li><h5>Count of chasing squirrels: {{Chasing}}</h5>
</li>
<li><h5>Count of climbing squirrels: {{Climbing}}</h5>
</li>
</ul>


</body>
</html>
